<launch>
  <param command="$(find xacro)/xacro $(find defense_bot_description)/urdf/defense_bot.xacro" name="robot_description"/>
  <node args="-param robot_description -urdf -model defense_bot" name="spawn_urdf" pkg="gazebo_ros" type="spawn_model"/>
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="paused" value="true"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>
</launch>
