<launch>

  <arg name="world" default="empty"/>
  <arg name="paused" default="false"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="gui" default="true"/>
  <arg name="headless" default="false"/>
  <arg name="debug" default="false"/>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
  <include  file="$(find throwing_bot_navigation)/launch/nav.launch"  />
    <arg name="world_name" value="$(find robocon2020)/worlds/arena_main.world"/>
    <arg name="paused" value="$(arg paused)"/>
    <arg name="use_sim_time" value="$(arg use_sim_time)"/>
    <arg name="gui" value="$(arg gui)"/>
    <arg name="headless" value="$(arg headless)"/>
    <arg name="debug" value="$(arg debug)"/>
  </include>
  
<!-- Throwing Bot -->
  <param name="robot_description" command="$(find xacro)/xacro '$(find throwing_bot_description)/urdf/throwing_bot.xacro'"/>
  <node name="mybot_spawn2" pkg="gazebo_ros" type="spawn_model" output="screen"
    args="-urdf -param robot_description -model throwing_bot -x 5.0 -y 3.0 -z 0.0 -R 0.0 -P 0.0 -Y 0.0" />

</launch>
